map_type: costmap
global_frame: "/map"
robot_base_frame: "/base_link"
transform_tolerance: 0.6

obstacle_layer:
    enabled: True
    obstacle_range: 2.5
    raytrace_range: 3.0
    combination_method: 1
    track_unknown_space: true

    observation_sources: scan
    scan: {sensor_frame: laser,
            data_type: LaserScan,
            topic: /scan,
            expected_update_rate: 0.3,
            observation_persistence: 0.0,
            marking: true,
            clearing: true,
            min_obstacle_height: -0.10,
            max_obstacle_height: 2.0}

inflation_layer:
    enabled: true
    cost_scaling_factor: 10
    inflation_radius: 0.3

static_layer:
    enabled: true
    map_topic: "/map"
