map_type: costmap
transform_tolerance: 0.3
obstacle_range: 5.0
raytrace_range: 5.0
inflation_radius: 0.4
track_unknown_space: true
footprint_clearing_enabled: true

observation_sources: scan

scan: {sensor_frame: base_laser,
            data_type: LaserScan,
            topic: /scan,
            expected_update_rate: 0.2,
            observation_persistence: 0.0,
            marking: true,
            clearing: true,
            min_obstacle_height: -0.10,
            max_obstacle_height: 2.0}
