<!-- Launches all nodes required to accomplish Basic Navigation Test -->

<launch>

	<!-- map_server wiht pre-recorded map -->
	<node name="map_server" type="map_server" pkg="map_server"
		args="$(find navigation_step)/map/map.yaml" />

	<!-- move_base with params -->
	<include file="$(find youbot_navigation_global)/launch/move_base_global.launch" />

	<!-- AMCL -->
	<include file="$(find youbot_navigation_global)/launch/amcl.launch" />

	<!-- master and slave of a robot -->
	<node name="master" type="master" pkg="navigation_step" output="screen" />
	<node name="slave" type="slave" pkg="navigation_step"   output="screen"/>


	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find navigation_step)/rviz/BNT.rviz" />

</launch>
