<!-- Launches all nodes required to accomplish Basic Navigation Test -->

<launch>

	<!-- map_server wiht pre-recorded map -->
	<node name="map_server" type="map_server" pkg="map_server"
		args="$(find navigation_step)/map/map.yaml" />

	<!-- move_base with params -->
	<include file="$(find navigation_step)/launch/move_base.launch" />

	<!-- AMCL -->
	<include file="$(find navigation_step)/launch/amcl.launch" />

	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find navigation_step)/rviz/BNT.rviz" />

</launch>
